<div class="root" ng-show="firstLoadingFinish && rootLoadingFinish">

    <div class="alerts">
        <uib-alert  ng-repeat="alert in alerts" ng-class="alert.type"   template-url="content/components/alert/alertTemplate.html">
            <i class="glyphicon glyphicon-remove" ng-click="closeAlert($index)"></i>
            {{alert.msg}}
        </uib-alert>
    </div>
    <div class="menu">
        <linear-spinner ng-show="loadingInformation"></linear-spinner>
        <div ng-show="authorized" class="profile-panel-button">
            <i class="fa fa-outdent"  ng-show="userDataLoaded" ng-click="profile.openedProfile = true"></i>
            <span ng-show="!userDataLoaded" us-spinner="{color: 'white',radius:8,lines:9, width:5, length: 2}"></span>
        </div>


        <a ng-if="!authorized " class="sign signUp" ui-sref="root.registration">sign up</a>
        <a ng-if="!authorized" class="sign" ui-sref="root.login" >sign in</a>
        <a ui-sref="root.home" class="logo-min"></a>
        <div class="btn-group my-drop-group" uib-dropdown>
            <button id="single-button" type="button" class="btn btn-danger" uib-dropdown-toggle ng-disabled="disabled">
                Menu<span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a ui-sref="root.home">Home</a></li>
                <li role="menuitem"><a ui-sref="root.tasks">Tasks</a></li>
                <li role="menuitem" ng-if="adminRoot"><a ui-sref="root.leaders">Leaders</a></li>
                <li class="divider"></li>
                <li role="menuitem" ng-if="adminRoot"><a ui-sref="root.admin">Admininstrate</a></li>
                <li role="menuitem" ng-if="!adminRoot"><a ui-sref="root.leaders">Leaders</a></li>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="content">
        <ui-view ></ui-view>
    </div>
</div>

<profile></profile>