.task-solution .ace_editor {
    height: 365px !important;
    font-size: 14px !important;
    z-index: 0;
    width: 100%;
}

.task-solution .output-inner ,.task-solution .details-inner{
    height: 365px;
}

.task-solution>div.output-details-tab .error-field{
    color : red;
}

.task-solution>div.output-details-tab .success-field{
    color : green;
}

.task-solution>div.output-details-tab .code-errors{
    border-bottom: 1px solid red;
}
.task-solution>div.output-details-tab .tests-list{
    border-bottom: 1px solid;
}
.task-solution>div.output-details-tab .tests-list.pass{
    border-bottom-color:green;
}
.task-solution>div.output-details-tab .tests-list.no-pass{
    border-bottom-color:red;
}
.task-solution>div.output-details-tab{
    padding : 0 15px 0 0 !important;
}
.task-solution>div.solution-panel{
    padding : 0 0 0 15px !important;
}

@media(max-width:991px){
    .task-solution>div.output-details-tab, .task-solution>div.solution-panel{
        padding : 0 0 0 0 !important;
    }
}

.task-solution .task-ace-solution-wrapper{
    margin-top:15px;
}