.task-solution .CodeMirror {
    font-size: 14px !important;
    z-index: 0;
    height: 365px !important;
    width: 100%;
}

.task-solution .output-inner ,.task-solution .details-inner{
    min-height: 365px !important;
}

.task-solution .output-inner{
    font-family: Consolas;
}

.task-solution .task-note *{
    text-transform: none !important;
}
.task-solution .task-note{
    color: #FFCFCF;
    background: #2F0404;
    padding: 5px !important;
    border: 0;
}

.task-solution .test-body, .error-body{
    padding: 5px;
    margin:2px 0;
    background: rgba(237, 237, 237, 0.03);
}
.task-solution .finish-score, .task-solution .test-name{
    color: #7F7F7F;
}

.task-solution .test-btn{
    background: #262728;
    color: white !important;
    transition: 0.2s linear all;
}

.task-solution .finish-btn{
    background: #2E4F2E;
    color: white !important;
    transition: 0.2s linear all;
}

.task-solution .finish-btn:hover,.task-solution .finish-btn:focus, .task-solution .finish-btn:active{
    background-color: #2B572B !important;
}
.task-solution>div.output-details-tab .error-field, .task-solution .fa.test-result-icon.fa-times{
    color : #744040;
}

.task-solution>div.output-details-tab .success-field, .task-solution .fa.test-result-icon.fa-check{
    color : #347041;
}

.task-solution .breakWord{
    word-wrap: break-word;
}
.task-solution>div.output-details-tab .code-errors{
    border-bottom: 1px solid #744040;
}
.task-solution>div.output-details-tab .tests-list{
    border-bottom: 1px solid;
}
.task-solution>div.output-details-tab .tests-list.pass{
    border-bottom-color:#347041;
}
.task-solution>div.output-details-tab .tests-list.no-pass{
    border-bottom-color:#744040;
}
.task-solution>div.output-details-tab{
    padding : 0 15px 0 0 !important;
}
.task-solution>div.solution-panel{
    padding : 0 0 0 15px !important;
}

@media(max-width:991px){
    .task-solution>div.output-details-tab, .task-solution>div.solution-panel{
        padding : 0 0 0 0 !important;
    }
}

.task-solution .task-ace-solution-wrapper{
    margin-top:15px;
}