<div class="task-solution" ng-show="rootLoadingFinish && userCanDo">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 output-details-tab description">
        <uib-tabset type="pills" active="output.index ">
            <uib-tab heading="DETAILS"  class="btn-sm" >
                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 task-tabs-panel details details-inner" ng-style="{'border-left-color':mapColor(currentTask.level).in}">
                    <uib-alert type="success" class="task-note">Note, entry function name is {{currentTask.entryPoint}}!</uib-alert>
                    <uib-accordion>
                        <uib-accordion-group is-open="status.openSortFilter">
                            <uib-accordion-heading>
                                Description <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openDescription, 'glyphicon-chevron-right': !status.openDescription}"></i>
                            </uib-accordion-heading>
                            <div ng-bind-html="currentTask.description | html"></div>
                        </uib-accordion-group>
                    </uib-accordion>
                    <i class="fa fa-tags"></i>
                    <span class="no-data" ng-show="!currentTask.types.length">No types</span>
                    <span class="tag-name" ng-repeat="type in currentTask.types">{{type.type_name}}</span>
                </div>
            </uib-tab>
            <uib-tab heading="OUTPUT"  class="btn-sm" >
                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 task-tabs-panel output-inner" ng-style="{'border-left-color':mapColor(currentTask.level).in}">
                    <div class="code-errors" ng-if="output.data.executingError">
                        <span class="test-name">Code errors</span>
                        <div class="error-body">
                            {{output.data.executingError.name}} : <span class="error-field">{{output.data.executingError.message}}</span>
                        </div>
                    </div>
                    <div ng-if="output.data.tests.length" class="tests-list" ng-class="output.data.hasErrorTest ? 'no-pass' : 'pass'">
                        <span class="test-name">Tests</span>
                        <div>
                            <div class="test-body" ng-repeat="test in output.data.tests">
                                <i class="fa test-result-icon" ng-class="test.pass ? 'fa-check' : 'fa-times'"></i>
                                <span ng-if="test.params">
                                    Params :
                                    <span ng-repeat="param in test.params">
                                        <span class="success-field">{{param.value}}</span> ,
                                    </span>
                                    <span class="error-field" ng-if="!test.params.length"> NO </span>
                                </span>
                                expected:
                                <span ng-class="test.pass ? 'success-field' : 'error-field'">{{test.expected}}</span>,
                                {{test.pass ? 'and' : 'instead'}} got:
                                <span ng-class="test.pass ? 'success-field' : 'error-field'">{{test.result || 'undefined'}}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="output.data.tests.length" class="test-count">
                        <div>
                            <span class="success-field bold">Passed</span>  : <span>{{ output.data.successTests}}</span>
                        </div>
                        <div>
                            <span class="error-field bold">Failed</span> : <span>{{ output.data.errorTests}}</span>
                        </div>

                    </div>
                    <div class="finish-score" ng-if="!output.data.hasErrorTest && !output.data.executingError && output.data.tests.length">Press FINISH to submit score</div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 solution-panel">

        <ul class="nav nav-pills">
            <li class="btn-sm uib-tab nav-item" heading="TEST">
                <a href="" ng-click="test(false)" class="test-btn">TEST</a>
            </li>
            <li class="btn-sm uib-tab nav-item" ng-if="output.data.errorTests == 0 && !output.data.executingError" heading="FINISH">
                <a href="" ng-click="test(true)" class="nav-link finish-btn">FINISH</a>
            </li>
        </ul>
        <div class="task-ace-solution-wrapper">
            <textarea ui-codemirror="codeSolution.config" ng-model="codeSolution.inner"></textarea>
        </div>

    </div>
</div>