<div class="current-task" ng-if="rootLoadingFinish && currentTask">
    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 task-main-panel text-center" ng-style="{'border-left-color':mapColor(currentTask.level).in}">
            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3 left-panel">
                <span ng-class="currentTask.level ? 'level' : 'no-level'" ng-style="{'color':mapColor(currentTask.level).out}" class="level">
                    {{currentTask.level || 'NO LEVEL'}}
                </span>
                <span ng-class="currentTask.level ? 'language' : 'no-language'" ng-style="{'color':mapColor(currentTask.level).in}">{{currentTask.language}}</span>

                <a ng-if="currentTask.level && !currentTask.solutions && currentTask.creatorId != currUserId" class="train hidden-xs" ui-sref="root.task.taskSolution({id: currentTask.taskId})">
                    <button  ng-style="{'background':mapColor(currentTask.level).in,'border-color':mapColor(currentTask.level).in}" class="btn btn-primary btn-sm ">
                        <i class="fa fa-play"></i> Train
                    </button>
                </a>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 center-panel">
                <span class="name">
                    <a class="name-link" ui-sref="root.task.information(currentTask.task_id)">
                        {{currentTask.name}}
                    </a>
                    <span class="done-wrap done-icon-center hidden-xs">
                     <i ng-if="currentTask.solutions" class="fa fa-check-circle"></i>
                    </span>
                </span>

            </div>
            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3 right-panel">
                <span class="date-and-author hidden-xs">{{currentTask.taskAddDate | date : 'dd MMMM yyyy'}}</span>
                <span class="date-and-author hidden-xs">{{currentTask.taskAddDate | date : 'HH:mm'}}</span>
                <span class="date-and-author"><i class="fa fa-user"></i> {{currentTask.creator}}</span>
                <a ng-if="currUserId == currentTask.creatorId || adminRoot" class="editing-task" ui-sref="root.editTask({id:currentTask.taskId})">
                    <i class="fa fa-pencil"></i>
                </a>
                <span ng-if="currUserId == currentTask.creatorId || adminRoot" class="editing-task"><i  class="fa fa-trash-o" ng-click="openRemovingTaskModal(currentTask.taskId)"></i></span>
                <a ng-if="currentTask.level && !currentTask.solutions && currentTask.creatorId != currUserId" class="train train-right hidden-sm hidden-md hidden-lg" ui-sref="root.task.taskSolution({id: currentTask.taskId})">
                    <button  ng-style="{'background':mapColor(currentTask.level).in,'border-color':mapColor(currentTask.level).in}" class="btn btn-primary btn-sm ">
                        <i class="fa fa-play"></i>
                    </button>
                </a>
                <span class="done-icon-right done-wrap hidden-sm hidden-md hidden-lg">
                     <i ng-if="currentTask.solutions" class="fa fa-check-circle"></i>
                </span>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 center-block col-lg-12 text-center">
                <span class="to-do-panel">
                     <span ng-if="authorized" class="later" >
                        <i class="fa fa-thumb-tack" ng-click="toDo('later')"  ng-show="currentTask.canLater"></i>
                        <i class="fa fa-clock-o" ng-click="toDo('later')" ng-hide="currentTask.canLater"></i>
                    </span>

                    <span ng-if="authorized" class="favorite">
                        <i class="fa fa-star-o" ng-click="toDo('favorite')" ng-show="currentTask.canFavorite"></i>
                        <i class="fa fa-star" ng-click="toDo('favorite')" ng-hide="currentTask.canFavorite"></i>
                    </span>
                    <span class="watch">
                        <i class="fa fa-eye"></i>{{currentTask.watchingCount}}
                    </span>
                    <span ng-if="authorized" class="like" >
                        <i class="fa fa-thumbs-o-up" ng-click="toDo('like')" ng-show="currentTask.canLike"></i>
                        <i class="fa fa-thumbs-up" ng-click="toDo('like')" ng-hide="currentTask.canLike"></i>
                        {{currentTask.likesCount}}
                    </span>
                </span>
            </div>
        </div>
        <ui-view></ui-view>
    </div>
</div>
