.current-task .CodeMirror {
    height: 250px;
    font-size: 14px !important;
    z-index: 0;
    border-radius: 5px;
    width: 100%;
}

.current-task .no-data{
    color: #AC4747;
}

.current-task .name-link{
    color: inherit;
    transition: 0.2s linear all;
}

.current-task .name-link:hover{
    color: #ffffff;
}

.current-task .no-comments{
    text-align: center;
    padding: 15px;
    text-transform: capitalize;
}

.current-task .solution{
    padding : 15px;
    border-radius: 5px;
    background: #2E2E2E;
    margin: 15px 0 0 0;
}

.current-task .solution .date-and-author-wrap{
    position: absolute;
    top:15px;
    right:15px;
}

.current-task .solution .solution-author h3{
    margin-top: 3px;
    margin-bottom: 11px;
}

.current-task .solution.my{
    background: #3F6135;
}


.current-task .solution-wrapper{
    padding : 0 15px 0 0;
}


.current-task .task-main-panel, .current-task .task-tabs-panel{
    margin: 15px 0;
    padding : 15px;
    background: #262728;
}

.current-task .task-main-panel{
    border-left : 5px solid transparent;
    position: relative;
    height: 80px;
    padding: 5px;
}

.current-task .task-tabs-panel{
    border-left : 5px solid transparent;
}

.current-task .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: rgba(82, 82, 82, 0.51);
}

.current-task .comment-div {
    background: #2E2E2E;
    margin-top: 15px;
    border-radius: 3px;
    padding: 15px 15px;
    transition: 0.2s linear background;
}
.current-task .comment-div:hover{
    background: #404040;
}

.current-task .comment-div .comment-info{
    width:150px;
    float:left;
    text-align: left !important;
}

.current-task .comment-div .close-comment{
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
}
.current-task .comment-div .comment-text{
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    word-wrap: break-word;
}

.current-task .task-tabs-panel.details .tag-name{
    text-transform: capitalize;
    display: inline-block;
    padding: 3px;
    margin: 3px;
    background: #5B1F1D;
    border-radius: 4px;
}


.description  * {
    outline: none !important;
}

.description  .panel *{
    border : 0 !important;
}

.description  .panel .panel-heading{
    color: #D5D5D5 !important;
    background-color: rgba(91, 31, 29, 0) !important;
}
.description  .panel a{
    font-size: 14px;
}
.description .panel{
    border : none !important;
    background: rgba(106, 106, 106, 0.43) !important;
}
.description .panel .panel-body {
    border: 0;
    background: rgba(0, 0, 0, 0.33) !important;
}

.current-task .comment-div .comment-info .date-and-author{
    text-align: left;
}

.comment-div.ng-enter,
.comment-div.ng-leave
{
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position: relative;
    display: block;
}

.comment-div.ng-enter.ng-enter-active,
.comment-div.ng-leave {
    opacity: 1;
}

.comment-div.ng-leave.ng-leave-active,
.comment-div.ng-enter {
    opacity: 0;
}

.current-task .nav-pills>li>a{
    border-radius: 0;
    color: #A7B0B9;
    text-decoration: none;
}

.current-task .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #2E2C2C;
}
.current-task .name{
    display: inline-block;
    width: 100%;
    text-transform: none;
    padding-left: 5px;
    line-height: 55px;
    font-size: 2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.current-task .name:first-letter {
    text-transform: uppercase;
}

.current-task .level{
    display: block;
    position: absolute;
    top: 0;
    line-height: 67px;
    left: 3px;
    bottom: 0;
    font-size: 6em;
}


.current-task .no-level{
    position: absolute;
    top: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    left: 2px;
    font-size: 2em;
}

.current-task .to-do-panel{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    margin-left: auto;
    margin-right: auto;
}

.current-task .center-panel{
    height: 100%;
}

.current-task .to-do-panel span{
    white-space:nowrap;
    display: inline-block;
    width : 58px;
    font-size: 20px;
}


@media (max-width: 544px) {
    .current-task .to-do-panel span{
        width : 35px !important;
    }
}

.current-task .to-do-panel .favorite i{
    color: #EFEF30;
    cursor: pointer;
}

.current-task .left-panel .train{
    position: absolute;
    left: 51px;
    top: 37px;
}

.current-task .center-panel .done-icon-center i{
    font-size: 1em;
}
.current-task .done-wrap i{
    font-size: 2.5em;
    color: #679967;
}

.current-task .editing-task{
    font-size: 1.3em;
    cursor: pointer;
    color: white;
    transition: 0.2s linear all;
}

.current-task .editing-task i{
}

.current-task .editing-task:hover, .current-task .editing-task:active, .current-task .editing-task:focus{
    text-decoration: none !important;
}

.current-task .editing-task:hover{
    color: #959595 !important;
}

.current-task .right-panel .train-right, .current-task .right-panel .done-icon-right{
    position: absolute;
    top: 39px;
    right: 3px;
    z-index: 1;
}

.current-task .left-panel .train .btn, .current-task .right-panel .train .btn {
    border: 1px solid;
    text-decoration: none;
    outline: none !important;
}

.current-task .to-do-panel .like{
    color: #BC5353;
}

.current-task .to-do-panel .like i{
    cursor: pointer;
}

.current-task .to-do-panel .watch{
    color: #7E7E7E;
}

.current-task .to-do-panel .later i{
    cursor: pointer;
}


.current-task .date-and-author{
    white-space: nowrap;
    display: block;
    line-height: 15px;
    text-align: right;
    overflow: hidden;
    color: #8A9393;
    text-transform: capitalize;
    text-overflow: ellipsis;
}

.current-task .right-panel{
    text-align: right;
    z-index: 1;
    padding-right: 5px;
}

.current-task .left-panel{
    padding-left: 5px;
    z-index: 1;
}

.current-task .language{
    position: absolute;
    line-height: 32px;
    top: 0;
    text-transform: uppercase;
    left: 50px;
    font-size: 2em;
}

.current-task .no-language{
    position: absolute;
    top: 0;
    text-transform: uppercase;
    left: 3px;
    font-size: 2em;
}