.profile {
    position: fixed;
    z-index: 1100;
    top: 0;
    bottom: 0;
    right:0;
    width: 30%;
    background: rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}
.profile h1 a{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 17px;
    color: #B53939;
}

.profile *{
    outline: none !important;
    border : none !important;
}

.profile .panel .panel-heading{
    color: #D5D5D5 !important;
    background-color: #292A2B !important;
    border-color: #292A2B !important;
}
.profile .progress-wrapper{
    position: relative;
    width: 160px;
    height: 160px;
    float: none;
    margin: 0 auto;
}

.profile .level{
    background: rgba(59, 59, 59, 0.24);
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 5px;
}

.profile .level .info{
    font-size: 34px;
    line-height: 77px;
}

.profile .level .info div{
    white-space: nowrap;
}
.profile .level .info .info-honor{
   font-size: 25px;
}

.profile .username{
    display: block;
    font-size: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.profile .clan{
    display: block;
    font-size: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.profile .glyphicon.glyphicon-user{
    font-size: 150px;
}

.profile .progress-wrapper .progress{
    top: 50%;
    bottom: auto;
    background: transparent;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    font-size: 28px;
    height: 35px;
}

.profile.ng-enter, .profile.ng-leave{
    transition: 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);

}
.profile.ng-enter{
    margin-right: -30%;
}

.profile.ng-enter.ng-enter-active{
    margin-right: 0;
}

.profile.ng-leave{
    margin-right: 0;
}
.profile.ng-leave.ng-leave-active{
    margin-right: -30%;
}
