<div class="profile col-md-4 col-xs-6 col-sm-6 col-lg-4 text-center"
     ng-if="rootLoadingFinish && profileVisible && authorized && userDataLoaded"
>
    <i class="close-profile fa fa-indent" ng-click="status.openedProfile = false" ></i>
    <i class="fa fa-sign-out log-out" ng-click="signOut()"></i>
    <h1>
        Profile
    </h1>
    <div class="col-md-12">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <span class="username text-center"
                  ng-style="{'color' : levels[currentUser.level].color.out}"
                  >{{currentUser.name}}</span>
             <span class="clan text-center"
                   ng-style="{'color' : levels[currentUser.level].color.out}"
             >{{currentUser.clan || 'no clan'}}</span>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 level text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 info">
            <div class="info-level"><span ng-style="{'color' : levels[currentUser.level].color.out}">{{levels[currentUser.level].levelNum}}</span> LEVEL</div>
            <div class="info-honor"><span ng-style="{'color' : levels[currentUser.level].color.out}">{{currentUser.honor}}</span> HONOR</div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12  text-center">
            <div class="progress-wrapper">
                <div class="progress ng-cloak">{{ levels[currentUser.level].currHonor }}/{{ levels[currentUser.level].diffHonor }}</div>
                <div
                        round-progress
                        max="levels[currentUser.level].diffHonor"
                        current="levels[currentUser.level].currHonor"
                        color="{{levels[currentUser.level].color.out}}"
                        bgcolor="{{levels[currentUser.level].color.in}}"
                        radius="80"
                        rounded = "true"
                        stroke="9"
                        clockwise="clockwise"
                        responsive="false"
                        duration="1100"
                        animation="easeInOutQuart"
                        offset="0"
                        animation-delay="0"
                        on-render="showPreciseCurrent"
                >
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <change-profile></change-profile>
</div>