.profile {
    position: fixed;
    top: 0;
    z-index: 1;
    bottom: 0;
    right: 0;
    background: rgb(38, 39, 40);
    overflow-y: auto;
    min-width: 225px;
}

.profile .close-profile.fa{
    font-size: 30px;
    padding: 9px 10px 0;
    color: #B4B4B5;
    position: absolute;
    left: 0;
    cursor: pointer;
    transition : 0.5s linear color;
}

.profile .close-profile.fa:hover{
    color:#934B4B;
}
.profile .log-out{
    font-size: 30px;
    padding: 9px 10px 0;
    color: #B05353;
    position: absolute;
    right: 0;
    cursor: pointer;
    transition : 0.5s linear color;
}

.profile .log-out.fa:hover{
    color:#AC0202;
}

.profile *{
    outline: none !important;
    border : none !important;
}

.profile .panel .panel-heading{
    color: #D5D5D5 !important;
    background-color: #292A2B !important;
    border-color: #292A2B !important;
}
.profile .progress-wrapper{
    position: relative;
    width: 160px;
    height: 160px;
    float: none;
    margin: 0 auto;
}

.profile .level{
    background: rgba(59, 59, 59, 0.24);
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 5px;
}

.profile .level .info{
    font-size: 34px;
    line-height: 77px;
}

.profile .level .info div{
    white-space: nowrap;
}
.profile .level .info .info-honor{
   font-size: 25px;
}

.profile .username, .clan{
    display: block;
    font-size: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
}
.profile .clan{
    font-size: 2em;
}
.profile .glyphicon.glyphicon-user{
    font-size: 122px;
}

.profile .progress-wrapper .progress{
    top: 50%;
    bottom: auto;
    background: transparent;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    font-size: 28px;
    height: 35px;
}

.profile.ng-enter, .profile.ng-leave{
    transition: 500ms linear;

}
.profile.ng-enter{
    margin-right: -50%;
}

.profile.ng-enter.ng-enter-active{
    margin-right: 0;
}

.profile.ng-leave{
    margin-right: 0;
}
.profile.ng-leave.ng-leave-active{
    margin-right: 50%;
}
