<div ng-show="rootLoadingFinish && authorized && managementTask.defaultData && managementTask.model">
    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-8 management-task-wrapper">
        <form class="management-task-form form-horizontal">
            <div class="form-group">
                <div class=" col-sm-10 col-sm-offset-2">
                    <h1 class="text-capitalize">task {{managementTask.defaultData.management}}</h1>
                </div>

            </div>

            <div class="form-group text-center">
                <label for="taskName" class="col-sm-2 control-label ">Name*</label>
                <div class="col-sm-10">
                    <input type="text" name="name" ng-model="managementTask.model.name" id="taskName"  autocomplete="off" placeholder="Task name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="language" class="col-sm-2 control-label ">Language*</label>
                    <div class="col-sm-4 select-div">
                        <ol title="*Language" class="nya-bs-select" id="language" ng-required actions-box="true" ng-model="managementTask.model.language">
                            <li nya-bs-option="language in managementTask.defaultData.languages">
                                <a>
                                    {{language.name}}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <label for="type" class="col-sm-2 control-label ">Type*</label>
                    <div class="col-sm-4 select-div">
                        <input id="type" class="form-control" placeholder="Additional type" type="text" ng-model="managementTask.model.additionalType.name">
                        <ol  title="*Types" class="nya-bs-select" requireds actions-box="true" multiple ng-model="managementTask.model.types">
                            <li nya-bs-option="type in managementTask.defaultData.types">
                                <a>
                                    {{type.name}}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="entryPoint" class="col-sm-2 control-label ">Entry point*</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="managementTask.model.entryPoint" id="entryPoint" name="entryPoint" autocomplete="off" placeholder="*Entry function name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-2 control-label ">Tests*</label>
                    <div class="col-sm-10">
                        <uib-accordion>
                            <uib-accordion-group is-open="status.openTestsPanel">
                                <uib-accordion-heading>
                                    Settings <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openTestsPanel, 'glyphicon-chevron-right': !status.openTestsPanel}"></i>
                                </uib-accordion-heading>
                                    <i ng-click="managementTask.addTest(managementTask.defaultData.tests.length)" class="fa fa-plus-square"></i>
                                    <div ng-repeat="(testIndex, test) in managementTask.defaultData.tests" class="col-md-12 col-xs-12 col-lg-12 col-xs-12">
                                        {{testIndex}}
                                        <button type="button" ng-click="managementTask.removeTest(testIndex)" class="close" >&times;</button>
                                        <button ng-click="managementTask.addVariable(testIndex, test.variables.length)">add variable</button>
                                        <div ng-repeat="(variableIndex, variable) in test.variables track by $index">
                                            <input ng-model="managementTask.defaultData.tests[testIndex].variables[variableIndex]"  ng-value="variable.name" type="text" placeholder="variable">
                                            <button type="button" ng-click="managementTask.removeVariable(testIndex , variableIndex)" class="close" >&times;</button>
                                        </div>
                                        <input ng-model="managementTask.defaultData.tests[testIndex].result" type="text" placeholder="result">
                                    </div>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label ">Description*</label>
                <div class="col-sm-10">
                    <text-angular class="description-textbox" ng-model="managementTask.model.description"></text-angular>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button class="btn btn-success btn-block text-capitalize" ng-click="manageTask()">{{managementTask.defaultData.management}} task</button>
                </div>
            </div>

        </form>

    </div>
</div>