<div ng-show="rootLoadingFinish && authorized && managementTask.defaultData && managementTask.model">
    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-8 management-task-wrapper">
        <form class="management-task-form form-horizontal">
            <div class="form-group">
                <div class=" col-sm-10 col-sm-offset-2">
                    <h1 class="text-capitalize">task {{managementTask.defaultData.management}}</h1>
                </div>

            </div>

            <div class="form-group text-center">
                <label for="taskName" class="col-sm-2 control-label " ng-class="{'error-text' : errors.name}">Name*</label>
                <div class="col-sm-10">
                    <input type="text" name="name" ng-class="{'error-input' : errors.name}" ng-model="managementTask.model.name" id="taskName"  autocomplete="off" placeholder="Task name" class="form-control">
                </div>
            </div>
            <div class="form-group text-center">
                    <label for="language" class="col-sm-2 control-label " ng-class="{'error-text' : errors.language}">Language*</label>
                    <div class="col-sm-4 select-div language-select-div">
                        <ol title="Select language" class="nya-bs-select" id="language" ng-class="{'ol-error-input' : errors.language}" ng-required actions-box="true" ng-model="managementTask.model.language">
                            <li nya-bs-option="language in managementTask.defaultData.languages">
                                <a>
                                    {{language.name}}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                    </div>
                    <label for="type" class="col-sm-2 control-label " ng-class="{'error-text' : errors.types}">Type*</label>
                    <div class="col-sm-4 select-div">
                        <ol id="type"  title="Select type" ng-class="{'ol-error-input' : errors.types}" class="nya-bs-select" requireds actions-box="true" multiple ng-model="managementTask.model.types">
                            <li nya-bs-option="type in managementTask.defaultData.types">
                                <a>
                                    {{type.name}}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                    </div>
            </div>

            <div class="form-group text-center">
                <label for="entryPoint" class="col-sm-2 control-label " ng-class="{'error-text' : errors.entryPoint}">Entry point*</label>
                <div class="col-sm-10">
                    <input type="text" ng-class="{'error-input' : errors.entryPoint}" ng-model="managementTask.model.entryPoint" id="entryPoint" name="entryPoint" autocomplete="off" placeholder="Entry function name" class="form-control">
                </div>
            </div>
            <div class="form-group text-center">
                    <label class="col-sm-2 control-label" ng-class="{'error-text' : errors.tests.length || !isEmpty(errors.tests.results)}">Tests*</label>
                    <div class="col-sm-10">
                        <uib-accordion>
                            <uib-accordion-group is-open="status.openTestsPanel">
                                <uib-accordion-heading>
                                    Settings <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openTestsPanel, 'glyphicon-chevron-right': !status.openTestsPanel}"></i>
                                </uib-accordion-heading>
                                    <div>
                                        <uib-alert type="success" class="task-note">Note! Put string object keys variables in quotes!</uib-alert>
                                    </div>
                                    <i ng-click="managementTask.addTest(managementTask.defaultData.tests.length)" class="fa fa-plus-square test-new-plus">new</i>
                                    <div style="clear:both"></div>

                                    <div ng-repeat="(testIndex, test) in managementTask.defaultData.tests"  class="col-md-6 col-sm-6 col-lg-6 col-xs-12 new-test-block-wrapper">
                                        <div class="new-test-block col-md-12 col-xs-12 col-lg-12 col-xs-12" ng-class="{'error-input' : errors.tests.results[testIndex].result || !isEmpty(errors.tests.results[testIndex].variables)}">

                                            <i class="fa fa-times-circle my-close" ng-click="managementTask.removeTest(testIndex)"></i>

                                            <div class="col-md-5 margin-top">
                                                <div class="btn-group my-drop-group" uib-dropdown>
                                                    <button id="single-button" type="button" class="btn btn-danger" uib-dropdown-toggle ng-disabled="disabled">
                                                        Variables<span class="caret"></span>
                                                    </button>
                                                    <ul class="variables-ul text-center" ng-click="stopDropdownPropagation($event)" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                                        <i ng-click="managementTask.addVariable(testIndex, test.variables.length)" class="fa fa-plus-circle my-add-variable">new</i>
                                                        <li class="new-variable-block" ng-repeat="(variableIndex, variable) in test.variables" ng-class="{'error-input' : isEmptyResult(errors.tests.results[testIndex].variables, variableIndex)}"  role="menuitem">
                                                            <input class="form-control" placeholder="value*" ng-model="managementTask.defaultData.tests[testIndex].variables[variableIndex].value"  ng-value="variable.value" type="text">
                                                            <i class="fa fa-times-circle my-close" ng-click="managementTask.removeVariable(testIndex , variableIndex)"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-7 margin-top">
                                                <input class="form-control result-input" ng-class="{'error-input' : errors.tests.results[testIndex].result}" ng-model="managementTask.defaultData.tests[testIndex].result" type="text" placeholder="result*">
                                            </div>
                                        </div>
                                    </div>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
            </div>
            <div class="form-group text-center">
                <label class="col-sm-2 control-label " ng-class="{'error-text' : errors.description}">Description*</label>
                <div class="col-sm-10" ng-class="{'error-description-input' : errors.description}">
                    <textarea  ui-tinymce="tinymceOptions" ng-model="managementTask.model.description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button class="btn btn-success btn-block text-capitalize" ng-click="manageTask()">{{managementTask.defaultData.management}} task</button>
                </div>
            </div>

        </form>

    </div>
</div>