<div ng-cloak ng-show="rootLoadingFinish">
    <tasks-filter> </tasks-filter>
    <div ng-if="filter.filterProperties" class="col-md-8 col-lg-8 col-xs-12 col-sm-6 tasks-wrapper">
        <div class="tasks" >
            <div ng-if="loadedTasks">
                <h1 class="text-center">Tasks <a ui-sref="root.newTask">new Task</a> </h1>
                <div>
                    <input class="form-control" ng-model="filter.name" type="text" placeholder="search by name">
                </div>
                <div class="one-task text-center" ng-style="{'border-left-color':mapColor(task.level).in}" ng-click="openTask(task.taskId)" ng-repeat="task in loadedTasks | filter : filter.name">
                    <span class="name">{{task.name}}</span>
                    <span ng-class="task.level ? 'level' : 'no-level'" ng-style="{'color':mapColor(task.level).out}">{{task.level || 'NO LEVEL'}}</span>
                    <span class="hidden-xs" ng-class="task.level ? 'language' : 'no-language'" ng-style="{'color':mapColor(task.level).in}">{{task.language}}</span>
                    <span class="add-date">{{task.addDate | date : 'dd MMMM yyyy'}}</span>
                    <span class="add-date-time">{{task.addDate | date : 'HH:mm'}}</span>
                </div>
                <button class="load-more-tasks btn btn-danger btn-block" ng-click="loadMoreTasks()" ng-hide="noMoreTasks || filter.name">Load more tasks</button>
            </div>
            <h1 class="text-center no-tasks" ng-show="loadedTasksEmpty">
                There are no tasks
            </h1>
        </div>
    </div>
</div>
