<div ng-show="rootLoadingFinish">
    <tasks-filter></tasks-filter>
    <div class="col-md-9 col-lg-9 col-xs-12 col-sm-6 tasks">
        <div ng-show="loadedTasks && filter.filterProperties">
            <div>
                <input ng-model="filter.name" type="text" placeholder="search by name">
            </div>
            <div ng-repeat="task in loadedTasks | filter : filter.name">
                {{task.name}}
                {{task.level}}
                {{task.language}}
                {{task.add_date}}
            </div>
            <button ng-click="loadMoreTasks()" ng-hide="noMoreTasks">loadMoreTasks</button>
        </div>
        <div ng-show="loadedTasksEmpty">EMPTY</div>
    </div>
</div>
