<div class="col-md-4 col-lg-4 col-xs-12 col-sm-6" ng-if="filter.filterProperties">
    <div class="filter">
        <h1 class="text-center head-title">
            Task filter
            <a href="" ng-click="clearFilter()">clear</a>
        </h1>
        <div class="filter-item group-filter">
            <div class="btn-group " data-toggle="buttons">
                <label class="btn btn-default" ng-class="{active: filter.filterModel.group == group}" ng-repeat="group in filter.filterProperties.groups">
                    <input ng-value ="group" ng-change="updateTasksByFilter()" type="radio" ng-model="filter.filterModel.group">{{group}}
                </label>
            </div>
        </div>
        <div class="filter-item level-filter ">
            <ol multiple title="Levels" ng-change="updateTasksByFilter()" class="nya-bs-select" data-selected-text-format="count>5" actions-box="true" ng-model="filter.filterModel.levels">
                <li nya-bs-option="level in filter.filterProperties.levels">
                    <a>
                        {{level}}
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li>
            </ol>
        </div>
        <div class="filter-item type-filter">
            <ol multiple title="Types" ng-change="updateTasksByFilter()" class="nya-bs-select" data-selected-text-format="count>3" actions-box="true" ng-model="filter.filterModel.types">
                <li nya-bs-option="type in filter.filterProperties.types">
                    <a>
                        {{type.name}}
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li>
            </ol>
        </div>
        <div class="filter-item">
            <uib-accordion>
                <uib-accordion-group is-open="status.openSortFilter">
                    <uib-accordion-heading>
                        Sort <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openSortFilter, 'glyphicon-chevron-right': !status.openSortFilter}"></i>
                    </uib-accordion-heading>
                     <div class="sort-filter col-md-6 col-lg-6 col-sm-6 sol-xs-6">
                        <ol ng-change="updateTasksByFilter()" title="Field" class="nya-bs-select" actions-box="true" ng-model="filter.filterModel.sortBy">
                            <li nya-bs-option="sort in filter.filterProperties.sortBy">
                                <a>
                                    {{sort}}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                     </div>
                    <div class="sort-filter col-md-6 col-lg-6 col-sm-6 sol-xs-6">
                        <ol ng-change="updateTasksByFilter()" title="Order" class="nya-bs-select" actions-box="true" ng-model="filter.filterModel.sortOrder">
                            <li nya-bs-option="sortOrder in filter.filterProperties.sortOrder">
                                <a>
                                    {{sortOrder}}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                    </div>

                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>